* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ROOT COLOR SELECTOR */

:root {
    --light-dark: rgba(20, 18, 18, 0.808);
    --main-dark-primary: #0e0d0d;
    --light-white: #e0d4d4;
    --orange-main: #ffa500;
    --white-main-color: #fff;
    --gray-semi: rgb(200, 200, 200, 0.732);
    --light-gray-order: #989797d0;
    --orange-second: #c08d30;
}

body {
    font-family: 'Jost', sans-serif;
    /* font-family: 'Dancing Script', cursive; */
    /* background: var(--main-dark-primary); */
}

.container-main {
    background: var(--light-white);
    display: none;
}
/* For Loading Animation */
header{
    display: grid;
        position: absolute;
        place-content: center;
        align-items: center;
        min-height: 100vh;
}
.loader{
    margin: auto;
    border: 20px solid #eaf0f6;
    border-radius: 50%;
    border-top: 20px solid #ff7a59;
    width: 200px;
    height: 200px;
    animation: spinner 1s linear infinite;
    position: absolute;
    top: 35vh;
    left: 90vh;
}
header span{
    position: relative;
    left: 720px;
    top: 140px;
}

@keyframes spinner {
    0%{
        transform: rotate(0DEG);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* styling for the menu container */
.menu {
    display: flex;
    justify-content: space-between;
    background: var(--main-dark-primary);
    opacity: 9;
    padding-top: 10px;
    color: var(--white-main-color);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 0 25px var(--main-dark-primary);
}

.logo {
    font-family: 'Dancing Script', cursive;
    margin: 5px;
    font-size: 2.2rem;
    font-weight: bold;
    padding-left: 5px;
    /* Remember to increase the margin of this logo tomorrow or padding left */
}

.logo:hover {
    cursor: pointer;
}

/* styling for nav-links Primary */
.nav-links {
    font-size: 18px;
    display: none;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
}

.nav-links ul li {
    padding: 15px;
}

.nav-links ul li:hover {
    color: var(--orange-main);
    transition: all .3s;
    transform: scale(1.1, 1.0);
    cursor: pointer;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--white-main-color);
}

.nav-links ul li a:hover {
    color: var(--orange-main);
    font-weight: bold;
}

.nav-links ul li .Active-Link {
    color: var(--orange-main);
    text-decoration: underline;
}

.nav-links ul li .Active-Link:hover {
    text-decoration: none;
}
/* For NavLinks Seconadry */
.nav-linksSecondary{
    font-size: 18px;
}
.nav-linksSecondary ul {
    display: flex;
    list-style-type: none;
}

.nav-linksSecondary ul li {
    padding: 15px;
}

.nav-linksSecondary ul li:hover {
    color: var(--orange-main);
    transition: all .3s;
    transform: scale(1.1, 1.0);
    cursor: pointer;
}

.nav-linksSecondary ul li a {
    text-decoration: none;
    color: var(--white-main-color);
}

.nav-linksSecondary ul li a:hover {
    color: var(--orange-main);
    font-weight: bold;
}

.nav-linksSecondary ul li .Active-Link {
    color: var(--orange-main);
    text-decoration: underline;
}

.nav-linksSecondary ul li .Active-Link:hover {
    text-decoration: none;
}
/* NavLinks Secondary */

.navButtons {
    display: none;
}

#closeNavs,
#openNavs {
    font-size: 30px;
    margin: 5px;
    padding: 10px;
}

#openNavs:hover {
    color: var(--orange-main);
    transition: all .3s;
    transform: scale(1.1, 1.0);
    cursor: pointer;
}

#closeNavs {
    display: none;
    animation-name: triangle;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes triangle {
    0% {
        transform: rotate(0);
        transition: all .2s ease-in-out;
    }

    25%,
    50%,
    100% {
        transform: rotate(180deg);
        transition: all .2s ease-in-out;
    }
}

#closeNavs:hover {
    color: var(--orange-main);
    transition: all .3s;
    transform: scale(1.1, 1.0);
    cursor: pointer;
}

/* For Home section */
#home {
    background-color: var(--light-dark);
    position: relative;
    top: 50px;
}

.imageContainerBg {
    display: flex;
    justify-content: flex-end;
}

.backgroundImg {
    position: relative;
    top: 200px;
}
/* For making order-form */
.makeOrder{
    /* display: grid;
    place-content: center; */
    display: none;
    width: 700px;
    /* min-height: 100vh; */
    position: absolute;
     left: 120px;
    top: 50px;
    bottom: 40px;
    z-index: 100;
    color: var(--white-main-color);
    padding: 10px;
    background: var(--main-dark-primary);
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(21, 21, 21);
    overflow-y: scroll;
    height: 800px;
    animation-name: orderAnimate;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
@keyframes orderAnimate {
    0%{
        transform: scale(0);
        transition: .5s ease-in-out;
    }
    25%, 50%, 100%{
        transform: scale(1.0, 1.0);
            transition: .5s ease-in-out;
    }
}
.innerContentsForm{
   margin: 20px 0;
}
.head{
    text-align: center;
}
.close{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
#closeOrderForm{
    width: 45px;
    height: 45px;
    color: var(--orange-main);
    /* background: var(--orange-main); */
    border-radius: 50px;
    font-size: 25px;
    padding: 10px;
        border: 2px solid var(--orange-main);
}
#closeOrderForm:hover{
    cursor: pointer;
    border: 2px solid var(--light-gray-order);
    /* padding: 8px 10px; */
}
.orderName, .purchaseEmail, .phoneOrder, .delievryAddress{
    margin: 10px;
}
#name-food{
    padding: 8px;
    outline: none;
    width: 300px;
    background-color: transparent;
    border: 1px solid var(--white-main-color);
    color: var(--white-main-color);
    margin: 0 5px;
    border-radius: 8px;
}
#delievery-phone, #purchaser-email{
    padding: 8px;
        outline: none;
        width: 613px;
        background-color: transparent;
        border: 1px solid var(--white-main-color);
        color: var(--white-main-color);
        margin: 0 5px;
        border-radius: 8px;
}
#delievery-address{
    padding: 8px;
        outline: none;
        width: 613px;
        background-color: transparent;
        border: 1px solid var(--white-main-color);
        color: var(--white-main-color);
        margin: 5px;
        border-radius: 8px;
}
#city-order, #zip-code{
    padding: 8px;
        outline: none;
        width: 300px;
        background-color: transparent;
        border: 1px solid var(--white-main-color);
        color: var(--white-main-color);
        margin: 5px;
        border-radius: 8px;
}
#name-food > ::placeholder{
    color: var(--white-main-color);
}
.labels{
    margin: 10px;
    font-size: 1.2rem;
}
.sub{
    text-align: center;
    margin: 15px 0;
}
.submit{
    padding: 10px;
    border-radius: 5px;
    background: var(--orange-main);
    color: var(--white-main-color);
    border: none;
}
/* For the foods in ordering section */
.foodNamestoOrder{
    display: grid;
    grid-template-columns: repeat(1, 1fr)
}
.foodNamestoOrder input{
    text-align: center;
}

.food-1Order, .food-2Order, .food-3Order, .food-4Order{
    display: flex;
    background: var(--white-main-color);
    color: var(--main-dark-primary);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
} 
.food-1Order input,
.food-2Order input,
.food-3Order input,
.food-4Order input{
    border: 2px solid var(--main-dark-primary);
    outline: none;
}
.food-1Order img, .food-2Order img, .food-3Order img, .food-4Order img{
    width: 150px;
    height: 150px;
    position: relative;
    left: 8px;
    border-radius: 50%;
    border: 4px solid var(--orange-main);
}
.food-1Order label, .food-2Order label, .food-3Order label,.food-4Order label {
    margin: 5px 0;
}
.orderTexts{
    margin: 10px;
    position: relative;
    left: 15px;
}
.carousel {
    color: var(--white-main-color);
}

.carouselContainer {
    margin: 50px;
    position: relative;
    bottom: 250px;
}

#carouselButtonHome {
    position: relative;
    top: 100px;
    left: -350px;
}

.carouselContainer h2 {
    font-family: 'Dancing Script', cursive;
}

.orderBtn {
    color: var(--white-main-color);
    border: 2px solid var(--orange-main);
    border-radius: 5px;
    height: 50px;
    width: 100px;
    background: var(--orange-main);
}

/* Menu Section */

#menu {
    padding: 50px;
    background: var(--light-white);
    text-align: center;
    /* bottom: 50px; */
}

.titleHeadre {
    font-size: 2.2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    margin-bottom: 15px;
}

.foodsContent button {
    margin: 10px;
    border: none;
    background: transparent;
}

#forAllFoods {
    background: var(--light-dark);
    color: var(--white-main-color);
    border-radius: 7px;
    padding: 5px;
}

.foodsContent button:hover {
    text-decoration: underline;
}

.foodNames {
    text-align: center;
}

.cardsforFood {
    margin-top: 50px;
    text-align: center;
    visibility: visible;
}

.cardsforFood .foodcard1:hover,
.foodcard2:hover,
.foodcard3:hover,
.foodcard4:hover,
.foodcard5:hover,
.foodcard6:hover,
.foodcard7:hover,
.foodcard8:hover,
.foodcard9:hover,
.foodcard10:hover,
.foodcard11:hover,
.foodcard12:hover {
    cursor: pointer;
    transform: translateY(15px);
    transition: all .7s ease-in-out;
}

.AllFoods {
    text-align: center;
}

.AllFoods>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    color: var(--white-main-color);
    row-gap: 50px;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: 1;
    content-visibility: visible;
}

@keyframes rotate {
    0% {
        transform: scale(0);
        transition: all .5s;
    }

    25%,
    50%,
    100% {
        transform: scale(0.9, 0.9);
        transition: all .5s;
    }
}

.AllFoods img {
    width: 150px;
    height: 150px;
    border: 4px solid var(--orange-main);
    border-radius: 50%;
}

.foodcard1,
.foodcard2,
.foodcard3,
.foodcard4,
.foodcard5,
.foodcard6,
.foodcard7,
.foodcard8,
.foodcard9,
.foodcard10,
.foodcard11,
.foodcard12 {
    background-color: var(--main-dark-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.cardup {
    text-align: center;
    background: var(--white-main-color);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0, 0, 25px var(--main-dark-primary);
    position: relative;
    bottom: 5px;
}

.cardDown {
    padding: 20px;
    font-size: 15px;
}

.inner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.fa-cart-plus {
    background: var(--orange-main);
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Styling for Egusi soup Section */
.EgusiSoupSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    color: var(--white-main-color);
    row-gap: 50px;
    animation-name: dance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    content-visibility: hidden;
}

@keyframes dance {
    0% {
        transform: scale(0);
        transition: all .5s;
    }

    25%,
    50%,
    100% {
        transform: scale(0.9, 0.9);
        transition: all .5s;
    }
}

.EgusiSoupSection img {
    width: 150px;
    height: 150px;
    border: 4px solid var(--orange-main);
    border-radius: 50%;
}

.Egusi1,
.Egusi2,
.Egusi3 {
    background-color: var(--main-dark-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Egusi1:hover,
.Egusi2:hover,
.Egusi3:hover {
    cursor: pointer;
    transform: translateY(15px);
    transition: all .7s ease-in-out;
}

.cardupEgusi {
    text-align: center;
    background: var(--white-main-color);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0, 0, 25px var(--main-dark-primary);
    position: relative;
    bottom: 5px;
}

.cardDownEgusi {
    padding: 20px;
    font-size: 15px;
}

/* styling for the Okro Soup Section */

.okroSoupSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    color: var(--white-main-color);
    row-gap: 50px;
    animation-name: dance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    content-visibility: hidden;
}

.okroSoupSection img {
    width: 150px;
    height: 150px;
    border: 4px solid var(--orange-main);
    border-radius: 50%;
}

.Okro1,
.Okro2,
.Okro3,
.Okro4 {
    background-color: var(--main-dark-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Okro1:hover,
.Okro2:hover,
.Okro3:hover,
.Okro4:hover {
    cursor: pointer;
    transform: translateY(15px);
    transition: all .7s ease-in-out;
}

.cardupOkro {
    text-align: center;
    background: var(--white-main-color);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0, 0, 25px var(--main-dark-primary);
    position: relative;
    bottom: 5px;
}

.cardDownOkro {
    padding: 20px;
    font-size: 15px;
}

/* Styling for Amala & Ewedu Food Section */
.AmalaFoodsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    color: var(--white-main-color);
    row-gap: 50px;
    animation-name: dance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    content-visibility: hidden;
}

.AmalaFoodsSection img {
    width: 150px;
    height: 150px;
    border: 4px solid var(--orange-main);
    border-radius: 50%;
}

.Amala1,
.Amala2 {
    background-color: var(--main-dark-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Amala1:hover,
.Amala2:hover {
    cursor: pointer;
    transform: translateY(15px);
    transition: all .7s ease-in-out;
}

.cardupAmala {
    text-align: center;
    background: var(--white-main-color);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0, 0, 25px var(--main-dark-primary);
    position: relative;
    bottom: 5px;
}

.cardDownAmala {
    padding: 20px;
    font-size: 15px;
}

/* Styling for Meat Pie Section */

.MeatPieFoods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    color: var(--white-main-color);
    row-gap: 50px;
    animation-name: dance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    content-visibility: hidden;
}

.MeatPieFoods img {
    width: 150px;
    height: 150px;
    border: 4px solid var(--orange-main);
    border-radius: 50%;
}

.MeatPie1,
.MeatPie2,
.MeatPie3 {
    background-color: var(--main-dark-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.MeatPie1:hover,
.MeatPie2:hover,
.MeatPie3:hover {
    cursor: pointer;
    transform: translateY(15px);
    transition: all .7s ease-in-out;
}

.cardupMeatPie {
    text-align: center;
    background: var(--white-main-color);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0, 0, 25px var(--main-dark-primary);
    position: relative;
    bottom: 5px;
}

.cardDowMeatPie {
    padding: 20px;
    font-size: 15px;
}

/* Styling for fried Rice Section */

.friedRiceSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    color: var(--white-main-color);
    row-gap: 50px;
    animation-name: dance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    content-visibility: hidden;
}

.friedRiceSection img {
    width: 150px;
    height: 150px;
    border: 4px solid var(--orange-main);
    border-radius: 50%;
}

.FriedRice1,
.FriedRice2,
.FriedRice3 {
    background-color: var(--main-dark-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.FriedRice1:hover,
.FriedRice2:hover,
.FriedRice3:hover {
    cursor: pointer;
    transform: translateY(15px);
    transition: all .7s ease-in-out;
}

.cardupFriedRice {
    text-align: center;
    background: var(--white-main-color);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0, 0, 25px var(--main-dark-primary);
    position: relative;
    bottom: 5px;
}

.cardDowFriedRice {
    padding: 20px;
    font-size: 15px;
}

/* Styling for Egg sauce Section */

.eggSauceContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    color: var(--white-main-color);
    row-gap: 50px;
    animation-name: dance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    content-visibility: hidden;
}

.eggSauceContainer img {
    width: 150px;
    height: 150px;
    border: 4px solid var(--orange-main);
    border-radius: 50%;
}

.EggSauce1,
.EggSauce2,
.EggSauce3,
.EggSauce4,
.EggSauce5 {
    background-color: var(--main-dark-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.EggSauce1:hover,
.EggSauce2:hover,
.EggSauce3:hover,
.EggSauce4:hover,
.EggSauce5:hover {
    cursor: pointer;
    transform: translateY(15px);
    transition: all .7s ease-in-out;
}

.cardupEggSauce {
    text-align: center;
    background: var(--white-main-color);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0, 0, 25px var(--main-dark-primary);
    position: relative;
    bottom: 5px;
}

.cardDowEggSauce {
    padding: 20px;
    font-size: 15px;
}

/* About Section */
#about {
    background: var(--light-dark);
    padding: 50px;
    position: relative;
    /* bottom: 50px; */
}

.aboutContainerr {
    display: flex;
    justify-content: center;
    color: var(--white-main-color);
    font-size: 18px;
}

.aboutImg,
.aboutText {
    padding: 20px;
}

.aboutImg img:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: .4s ease-in;
    transform: translateY(-15px);
}

.aboutHeader {
    font-size: 2.2rem;
    font-family: 'Dancing Script', cursive;
    margin: 15px;
    font-weight: bold;
}

.aboutInfoText {
    line-height: 2;
    text-align: justify;
}

/* Book A table Section */
#bookTable {
    background: var(--light-white);
    padding: 50px;
    text-align: center;
}

.bookingHeader {
    font-size: 2.2rem;
    font-family: 'Dancing Script', cursive;
    margin: 15px;
    font-weight: bold;
}

.nameFied input,
.numberFied input,
.emailFied input,
.tableNumberFieled input,
.bookingdateFieled input {
    width: 400px;
    height: 50px;
    margin: 15px;
    outline: none;
    border: 2px solid var(--light-dark);
    border-radius: 7px;
    background: transparent;
    padding: 10px;
    text-align: center;

}

.nameFied input:hover,
.numberFied input:hover,
.emailFied input:hover,
.tableNumberFieled input:hover,
.bookingdateFieled input:hover {
    transition: all .2s ease-in-out;
    border: 2px solid var(--white-main-color);
    transform: scale(1.0, 1.1);
    cursor: pointer;
}

input ::placeholder {
    color: var(--main-dark-primary);
}

#BookingBtn {
    width: 150px;
    height: 50px;
    border: 2px solid var(--orange-main);
    background: var(--orange-main);
    color: var(--white-main-color);
    border-radius: 7px;
}

#BookingBtn:hover {
    transition: .4s ease;
    transform: translateX(15px);
    font-weight: bolder;
}

/* This is for Customer Section */

#customers {
    background: var(--light-white);
    padding: 50px;
    text-align: center;
    /* position: relative;
    bottom: 15px; */
}

.customerHeader {
    font-size: 2.2rem;
    font-family: 'Dancing Script', cursive;
    margin: 15px;
    font-weight: bold;
}

.customerContainer i {
    color: var(--orange-main);
    padding: 5px;
    margin-top: 5px;
}

#customerImg1,
#customerImg2,
#customerImg3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid var(--orange-main);
}

#hideCarousel {
    display: none;
}

.fa-caret-up {
    color: var(--orange-main);
    font-size: 35px;
    position: relative;
    left: 120px;
    bottom: 90px;
}

/* for the customer comments container */
.customerCommentsContainer,
.customerCommentsContainer2,
.customerCommentsContainer3 {
    background: var(--light-dark);
    color: var(--white-main-color);
    padding: 15px;
    margin: 20px;
    border-radius: 7px;
}

.fa-beat-fade {
    color: var(--orange-main);
    margin: 10px;
}

/* Footer Section  */
#Footer {
    background: var(--light-dark);
    color: var(--white-main-color);
    padding: 50px;
    text-align: center;
}

.parentFooter {
    display: flex;
    justify-content: space-evenly;
}

.contactHeader,
.lahotHeadre,
.hoursHeadre {
    font-size: 1.7rem;
    font-family: 'Dancing Script', cursive;
    margin: 15px;
    font-weight: bold;
}

.parentFooter i {
    margin: 10px;
    /* font-size: 2px; */
}

.contactUsContainer a {
    color: var(--white-main-color);
    text-decoration: none;
}

.contactUsContainer a:hover {
    color: var(--orange-main);
}

/* for socila Media icons styling */
.socilaMediaContacts {
    margin-top: 20px;
}

.socilaMediaContacts i {
    font-size: 20px;
    background: var(--white-main-color);
    color: var(--main-dark-primary);
    padding: 5px;
    border-radius: 50%;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.socilaMediaContacts i:hover {
    color: var(--white-main-color);
    cursor: pointer;
    background: var(--main-dark-primary);
    transition: .3s ease-in;
    transform: translateY(3px);
}

/* styling for the last text on the bottom*/
.Rights {
    margin-top: 40px;
}

.Rights a {
    color: var(--white-main-color);
    font-weight: bold;
}

.Rights a:hover {
    cursor: grab;
    color: var(--orange-main);
}

.navigatButton {
    display: none;
}

.fa-chevron-up {
    font-size: 30px;
    background: var(--main-dark-primary);
    color: var(--white-main-color);
    padding: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    left: 30vh;
}

.fa-chevron-up:hover {
    transform: translateY(-10px);
    transition: .5s;
    cursor: pointer;
}

/* styling for google translate page */
.goog-te-combo {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    outline: none;
}

.goog-te-combo:hover {
    border: 2px solid rgb(11, 11, 11);
    cursor: pointer;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:link {
    display: none;
}

/* for media querry section */
/* for smaller/medium screens */
@media screen and (max-width: 750px) and (min-width: 0px) {
    /* For Loading Animation */
        header {
            display: grid;
            position: absolute;
            place-content: center;
            align-items: center;
            min-height: 100vh;
        }
    
        .loader {
            margin: auto;
            border: 20px solid #eaf0f6;
            border-radius: 50%;
            border-top: 20px solid #ff7a59;
            width: 200px;
            height: 200px;
            animation: spinner 1s linear infinite;
            position: absolute;
            top: 35vh;
            left: 12vh;
        }
        header span{
            text-align: center;
            position: relative;
            left: 150px;
            top: 120px;
        }
    .nav-links {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 50px;
        width: 100%;
        background-color: var(--main-dark-primary);
        height: 700px;
        transform: translateY(20px);
        transition: all .7s;
        animation-name: navbarAnimate;
        animation-iteration-count: 1;
        animation-duration: 5s;
    }
    @keyframes navbarAnimate {
        0%{
            height: 0;
        }
        20%, 50%, 100%{
            height: 700px;
            width: 100%;
        }
    }

    .nav-links ul li {
        padding: 45px;
    }

    .nav-links ul {
        display: block;
    }

    .nav-links ul li a {
        display: block;
        text-align: center;
        animation-name: anchorAnimate;
        animation-iteration-count: 1;
        animation-duration: 3s;
    }
    @keyframes anchorAnimate {
        0%{
            transform: scale(0);
        }
        25%, 50%{
            transform: scale(0.9, 1.0);
            transition: all .5s ease-in-out;
        }
        75%, 100%{
            transform: scale(0.9, 1.1);
            transition: all .5s ease-in-out;
        }
    }

    .nav-links ul li a:hover {
        font-weight: bold;
        color: var(--white-main-color);
        font-family: 'Jost', sans-serif;
        text-decoration: underline;
    }
    /* for nav-links Secondary */
    .nav-linksSecondary{
        display: none;
    }

    #registerAccount:hover {
        transform: scale(1.2, 1.3);
    }

    .navButtons {
        display: block;
    }

    /* Home section */
    #home {
        min-height: 100vh;
    }
    /* For making order */
        .makeOrder{
            /* display: grid;
                place-content: center; */
                display: none;
                width: 350px;
                /* min-height: 100vh; */
                position: absolute;
                top: 40px;
                bottom: 40px;
                left: 15px;
                overflow-x: hidden;
        }
                #closeOrderForm{
                    position: relative;
                    bottom: 30px;
                    left: 10px;
                }
                #name-food {
                    width: 300px;
                    margin: 7px ;
                }
        
                #delievery-phone,
                #purchaser-email {
                    width: 300px;
                }
        
                #delievery-address {
                    width: 300px;
                }
                                #city-order,
                                #zip-code{
                                    width: 310px;
                                }
                                                                .food-1Order,
                                                                .food-2Order,
                                                                .food-3Order,
                                                                .food-4Order{
                                                                    display: block;
                                                                }
                                .food-1Order img,
                                .food-2Order img,
                                .food-3Order img,
                                .food-4Order img {
                                    width: 100px;
                                    height: 100px;
                                }

    .backgroundImg {
        max-height: 300px;
    }

    /* carousel items */
    .carouselContainer {
        bottom: 250px;
    }

    #carouselButtonHome {
        margin: 10px;
        position: relative;
        top: 150px;
        left: -100px;
    }

    /* menu section */
    #menu {
        position: relative;
        bottom: 0;
    }

    .AllFoods>div {
        display: block
    }

    .cardsforFood {
        position: relative;
        left: 0;
    }

    .foodcard1,
    .foodcard2,
    .foodcard3,
    .foodcard4,
    .foodcard5,
    .foodcard6,
    .foodcard7,
    .foodcard8,
    .foodcard9,
    .foodcard10,
    .foodcard11,
    .foodcard12 {
        margin-top: 30px;
    }

    /* Styling for Egusi soup Section */
    .EgusiSoupSection {
        display: block;
    }

    .Egusi1,
    .Egusi2,
    .Egusi3 {
        margin-top: 30px;
    }

    /* styling for Okro Soup Section */
    .okroSoupSection {
        display: block;
    }

    .Okro1,
    .Okro2,
    .Okro3,
    .Okro4 {
        margin-top: 30px;
    }

    /* Styling for Amala & Ewedu Food Section */
    .AmalaFoodsSection {
        display: block;
    }

    .Amala1,
    .Amala2 {
        margin-top: 30px;
    }

    /* Styling for Meat Pie Section */
    .MeatPieFoods {
        display: block;
    }

    .MeatPie1,
    .MeatPie2,
    .MeatPie3 {
        margin-top: 30px;
    }

    /* Styling for fried Rice Section */
    .friedRiceSection {
        display: block;
    }

    .FriedRice1,
    .FriedRice2,
    .FriedRice3 {
        margin-top: 30px;
    }

    /* Styling for Egg Suace Section */
    .eggSauceContainer {
        display: block;
    }

    .EggSauce1,
    .EggSauce2,
    .EggSauce3,
    .EggSauce4,
    .EggSauce5 {
        margin-top: 30px;
    }

    /* About Section */
    #about {
        position: relative;
        bottom: 0;
    }

    .aboutContainerr {
        display: block;
    }

    .aboutImg {
        text-align: center;
    }

    .aboutImg img {
        width: 200px;
    }

    /* Book A table Section */
    #bookTable {
        position: relative;
        bottom: 0;
    }

    .nameFied input,
    .numberFied input,
    .emailFied input,
    .tableNumberFieled input,
    .bookingdateFieled input {
        width: 200px;
        height: 50px;
    }

    /* Customer's Review Page Section */
    /* This is for Customer Section */
    #customers {
        background: var(--light-white);
        padding: 50px;
        position: relative;
        bottom: 0;
        text-align: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    /* Footer Section  */
    #Footer {
        position: relative;
        bottom: 0;
    }

    .parentFooter {
        display: block;
    }

    .contactUsContainer,
    .laHotContainer,
    .openingHoursContainer {
        margin-top: 35px;
    }

    .navigatButton {
        display: block;
    }

    .fa-chevron-up {
        position: relative;
        left: 15vh;
        margin-left: -10px;
        margin-top: 10px;
    }
}

/* for Ipad Screens */
@media screen and (max-width: 820px) and (min-width: 768px) {

    /* For Loading Animation */
        header {
            display: grid;
            position: absolute;
            place-content: center;
            align-items: center;
            min-height: 100vh;
        }
    
        .loader {
            margin: auto;
            border: 20px solid #eaf0f6;
            border-radius: 50%;
            border-top: 20px solid #ff7a59;
            width: 200px;
            height: 200px;
            animation: spinner 1s linear infinite;
            position: absolute;
            top: 40vh;
            left: 30vh;
        }
                  header span {
                      text-align: center;
                      position: relative;
                      left: 370px;
                      top: 140px;
                  }
    .nav-links {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 50px;
        width: 100%;
        background-color: var(--main-dark-primary);
        height: 500px;
        transform: translateY(20px);
        transition: all .7s;
    }

    .nav-links ul li {
        padding: 30px;
    }

    .nav-links ul {
        display: block;
    }

    .nav-links ul li a {
        display: block;
        text-align: center;
    }

    .nav-links ul li a:hover {
        font-weight: bold;
        color: var(--white-main-color);
    }
     /* for nav-links Secondary */
     .nav-linksSecondary{
        display: none;
    }

    .navButtons {
        display: block;
    }

    /* Home section */
    #home {
        min-height: 60vh;
    }
    /* For making order */
                .makeOrder {
                    /* display: grid;
                        place-content: center; */
                    display: block;
                    width: 500px;
                    /* min-height: 100vh; */
                    position: absolute;
                    top: 30px;
                    bottom: 40px;
                    left: 130px;
                }
        
                #name-food {
                    width: 200px;
                    margin: 10px 5px;
                }
        
                #delievery-phone,
                #purchaser-email {
                    width: 400px;
                }
        
                #delievery-address {
                    width: 400px;
                }
        
                #city-order,
                #zip-code {
                    width: 200px;
                }
        
                .food-1Order,
                .food-2Order,
                .food-3Order,
                .food-4Order {
                    display: flex;
                }
        
                .food-1Order img,
                .food-2Order img,
                .food-3Order img,
                .food-4Order img {
                    width: 100px;
                    height: 100px;
                }

    .backgroundImg {
        max-height: 300px;
    }

    /* carousel items */
    .carouselContainer {
        bottom: 250px;
    }

    #carouselButtonHome {
        margin: 10px;
        position: relative;
        top: 150px;
        left: -200px;
    }

    /* Menu section */
    #menu {
        position: relative;
        bottom: 0;
    }

    .AllFoods>div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        color: var(--white-main-color);
        row-gap: 50px;
    }

    /* Styling for Egusi soup Section */
    .EgusiSoupSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        color: var(--white-main-color);
        row-gap: 50px;

    }

    /* styling for Okro Soup Section */
    .okroSoupSection {
        grid-template-columns: repeat(2, 1fr);
    }

    /* styling for Meat Pie Section */
    .MeatPieFoods {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Styling for fried Rice Section */
    .friedRiceSection {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Styling for Egg sauce Section */
    .eggSauceContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    /* About Section */
    #about {
        position: relative;
        bottom: 0;
    }

    .aboutContainerr {
        display: block;
    }

    .aboutImg {
        text-align: center;
    }

    /* Book A table Section */
    #bookTable {
        position: relative;
        bottom: 0;
    }

    /* Customer's Review Page Section */
    /* This is for Customer Section */

    #customers {
        background: var(--light-white);
        padding: 50px;
        position: relative;
        bottom: 0;
        text-align: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    /* Footer Section  */
    #Footer {
        position: relative;
        bottom: 0;
    }

    .parentFooter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contactUsContainer,
    .laHotContainer,
    .openingHoursContainer {
        margin-top: 20px;
    }

    .navigatButton {
        display: block;
    }
}